@model List<Ecommerce.Models.Customer>

<div class="container-fluid px-4 mb-3">
    <h2 class="mt-4 text-center text-uppercase" style="letter-spacing:4px">Customer List</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Customer Phone</th>
                    <th>Customer Address</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>@customer.Name</td>
                        <td>@customer.Phone</td>
                        <td>@customer.Address</td>
                        <td>
                            <a href="@Url.Action("CustomerDetails", "Admin", new { id = customer.Id })" class="btn btn-primary">Details</a>
                            <a href="@Url.Action("UpdateCustomer", "Admin", new { id = customer.Id })" class="btn btn-info">Update</a>
                            <a href="@Url.Action("DeleteCustomer", "Admin", new { id = customer.Id })" class="btn btn-danger" onclick="return confirm('Proceed with deletion?');">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
