@model List<Cart>
<div class="container-fluid px-4 mb-3">
    <h2 class="mt-4 text-center text-uppercase" style="letter-spacing:4px">Customer Cart</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <td>Cart ID</td>
                    <td>Customer Name</td>
                    <td>Product Name</td>
                    <td>Product Quantity</td>
                    <td>Status</td>
                    <td>Options</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var cart in Model)
                {
                    <tr>
                        <td>@cart.Id</td>
                        <td>@cart.Customers.Name</td>
                        <td>@cart.Products.Name</td>
                        <td>@cart.Quantity</td>
                        <td>@cart.Status</td>
                        <td>
                            <a href="@Url.Action("DeleteCart","Admin",new{id=@cart.Id})" class="btn btn-danger" onclick="return confirm(`Proceed with Deletion`);" value="Delete">Delete</a>
                            <a href="@Url.Action("UpdateCart","Admin",new{id=@cart.Id})" class="btn btn-primary" value="Update">Update</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>