@model Product
<div class="container-fluid px-4 mb-3">
    <h2 class="mt-4 text-center text-uppercase" style="letter-spacing:4px">Product Details</h2>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <img src="@Url.Content("~/product_image/" + Model.Image)"  asp-append-version="true" height="250px" width="250px" />
        <ul class="list-group">
            <li class="list-group-item">Product Id: @Model.Id</li>
            <li class="list-group-item">Product Name: @Model.Name</li>
            <li class="list-group-item">Product Price: @Model.Price</li>
            <li class="list-group-item">Product Description:@Model.Description</li>
            <li class="list-group-item">Product Category: @Model.category.category_Name</li>
        </ul>
        <div>
            <a asp-action="UpdateProduct" asp-route-id="@Model.Id" asp-controller="Admin" class="btn btn-primary">Edit</a> |
            <a asp-action="FetchProduct" asp-controller="Admin" class="btn btn-primary">Back to List</a>
        </div>

    </div>
    <div class="col-md-2"></div>
</div>


    </div>
    <div class="col-md-2"></div>
</div>